[submodule "USB_ETH_SDK/libs/tinyusb"]
	path = USB_ETH_SDK/libs/tinyusb
	url = https://github.com/hathach/tinyusb.git
[submodule "USB_ETH_SDK/libs/stm32-mw-lwip"]
	path = USB_ETH_SDK/libs/stm32-mw-lwip
	url = https://github.com/STMicroelectronics/stm32-mw-lwip.git
